*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --index: calc(1vw + 1vh);
    --color-header: #f4efec;
    --color-text: #cdc6c3 ;
    --info-gap: calc(var(--index) * 10)
}
@font-face {
    font-family: raleway-c;
    src: url("../fonts/raleway-regular.woff2");
}
@font-face {
    font-family: outfit-c;
    src: url("../fonts/outfit-regular.woff2");
}

@font-face {
    font-family: Neuropol-c;
    src: url("../fonts/Neuropol Medium.ttf");
}

body{
    background-image: url("../img/backgroundimage.jpg") ;
    color: #fafafa;
    font-family: raleway-c;
    overflow-x: hidden;
    max-height: 1600px;
}

.main-menu{
    display: flex;
    margin-top: 5px;
    font-size: 30px;
    margin-right: 700px;
}
.container{
    padding: 0 3vw;
}
.main-menu a{
    color: var(--color-text);
    padding: 10px;
    text-decoration: none;
    font-family: raleway-c;
    font-weight: 200;
    outline: none;
}
.main-menu li{
    list-style: none;
}
.main-menu a:hover{
    text-decoration: underline;
}

#nav-bar{
    width: 100%;
    z-index: 10;
    padding: 1.7rem 0;
    overflow:hidden;
    position: fixed;
    background-image: url("../img/backgroundimage.jpg");
}

.container-top{
    display: flex;
    justify-content: space-between;
}

.footer{
    position: fixed;
    right: 0;
    bottom: 0;
}

.genre__images > *{
    margin-top: 80px;
    width: calc(var(--index) * 32);
    height: calc(var(--index) * 20);
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 100px;
    border-radius: 7.5px;
}

.info > *{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.info{
    display: flex;
    padding: calc(var(--index)* 2) 0;
}

.info__right {
    margin-top:calc(var(--info-gap));
    margin-right:calc(var(--info-gap)*0.4);
    color: var(--color-text);
}

h2{
    font-size:86px;
}

.info__left > *{
    margin-bottom: 200px;
}
.info__right a{
    color: var(--color-header);
}