*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --index: calc(1vw + 1vh);
    --color-header: #f4efec;
    --color-text: #cdc6c3 ;
    --info-gap: calc(var(--index) * 10)
}
@font-face {
    font-family: raleway-c;
    src: url("../fonts/raleway-regular.woff2");
}
@font-face {
    font-family: outfit-c;
    src: url("../fonts/outfit-regular.woff2");
}

@font-face {
    font-family: Neuropol-c;
    src: url("../fonts/Neuropol Medium.ttf");
}

body{
    background-image: url("../img/backgroundimage.jpg") ;
    color: #fafafa;
    font-family: raleway-c;
    overflow-x: hidden;
}

.main-menu{
    display: flex;
    margin-top: 5px;
    font-size: 30px;
    margin-right: 700px;
}
.container{
    padding: 0 3vw;
}
.main-menu a{
    color: var(--color-text);
    padding: 10px;
    text-decoration: none;
    font-family: raleway-c;
    font-weight: 200;
    outline: none;
}
.main-menu li{
    list-style: none;
}
.main-menu a:hover{
    text-decoration: underline;
}

#nav-bar{
    width: 100%;
    z-index: 10;
    padding: 1.7rem 0;
    overflow:hidden;
    position: fixed;
    background-image: url("../img/backgroundimage.jpg");
}

.container-top{
    display: flex;
    justify-content: space-between;
}

.footer{
    position: fixed;
    right: 0;
    bottom: 0;
}

.movie {
    display: flex;
    align-items: flex-start;
    margin-bottom: 100px;
}

.movie .image {
    margin-top: 100px;
    width: 500px;
    height: auto;
    margin-right: 70px;
    border-radius: 8px;
}

.movie-info {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.movie-info h2{
    font-size: 75px;
}

.movie-info p{
    font-size: 30px;
}

.player {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.player iframe {
       width: 120%;
       height: 150%;
       min-width: 560px;
       min-height: 500px;
       max-width: none;
       max-height: none;
       margin-bottom: 140px;

}
a{
    text-decoration: underline;
    color: var(--color-text);

}