*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --index: calc(1vw + 1vh);
    --color-header: #f4efec;
    --color-text: #cdc6c3 ;
    --info-gap: calc(var(--index) * 10)
}
@font-face {
    font-family: raleway-c;
    src: url("../fonts/raleway-regular.woff2");
}
@font-face {
    font-family: outfit-c;
    src: url("../fonts/outfit-regular.woff2");
}

@font-face {
    font-family: Neuropol-c;
    src: url("../fonts/Neuropol Medium.ttf");
}

body{
    background-image: url("../img/backgroundimage.jpg") ;
    color: #fafafa;
    font-family: raleway-c;
    overflow-x: hidden;
}

.main-menu{
    display: flex;
    margin-top: 5px;
    font-size: 30px;
    margin-right: 700px;
}
.container{
    padding: 0 3vw;
}
.main-menu a{
    color: var(--color-text);
    padding: 10px;
    text-decoration: none;
    font-family: raleway-c;
    font-weight: 200;
    outline: none;
}
.main-menu li{
    list-style: none;
}
.main-menu a:hover{
    text-decoration: underline;
}

#nav-bar{
    width: 100%;
    z-index: 10;
    padding: 1.7rem 0;
    overflow:hidden;
    position: fixed;
    background-image: url("../img/backgroundimage.jpg");
}

.container-top{
    display: flex;
    justify-content: space-between;
}

.footer{
    position: fixed;
    right: 0;
    bottom: 0;
}
.item {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
}


.image {
    width: 400px;
    margin-right: 20px;
}

/* Стили для текстового блока */
.text {
    flex: 1; /* Заполнение доступного пространства текстом */
}
.info > *{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.info{
    display: flex;
    padding: calc(var(--index)* 2) 0;
    padding-bottom:200px;

}


h2{
    font-size:56px;
    text-decoration: none;
    outline: none;

    color: var(--color-text);

}
h2 a{
    text-decoration: none;
    outline: none;

    color: var(--color-text);
}
.info p{
    font-size: 28px;
}

.movies {
    display: flex;              /* Включаем Flexbox для горизонтального расположения изображения и текста */
    align-items: flex-start;    /* Выравнивание текста по верхнему краю изображения */
    margin-bottom: 200px;        /* Отступ между блоками фильмов */
}

.movies .image {
    width: 150px;               /* Ширина изображения */
    height: auto;               /* Автоматическая высота для пропорциональности */
    margin-right: 20px;         /* Отступ справа от изображения */
    border-radius: 8px;         /* Сглаженные углы для изображения */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для изображения */
}

.movie-info {
    display: flex;
    flex-direction: column;     /* Размещаем текст в одном столбике */
}

.movie-info h2 {
    font-size: 1.5em;           /* Размер заголовка */
    margin-bottom: 10px;
}

.movie-info p {
    margin: 5px 0;              /* Отступы между текстовыми элементами */
    font-size: 1em;             /* Размер шрифта для описания фильма */
}