*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --index: calc(1vw + 1vh);
    --color-header: #f4efec;
    --color-text: #cdc6c3 ;
    --info-gap: calc(var(--index) * 10)
}
@font-face {
    font-family: raleway-c;
    src: url("../fonts/raleway-regular.woff2");
}
@font-face {
    font-family: outfit-c;
    src: url("../fonts/outfit-regular.woff2");
}

@font-face {
    font-family: Neuropol-c;
    src: url("../fonts/Neuropol Medium.ttf");
}

.content .info__right .info__left .main{
    will-change: transform;
}

body{
    background-image: url("../img/backgroundimage.jpg") ;
    color: #fafafa;
    font-family: raleway-c;
    overflow-x: hidden;
    max-height: 3000px;
}
.main{
    width: 100%;
    height: 700px;
    opacity: 40%;
    position: relative;
}
.container{
    padding: 0 3vw;
}
.main-title{
    font-size: calc(var(--index)*7);
    position: absolute;
    top: calc(var(--index)*10);
    font-style: italic;
}
.main-subtitle
{
    font-size: calc(var(--index)*3);
    position: absolute;
    top:calc(var(--index)*19);
    font-style: oblique;

}

.main-menu a{
    color: var(--color-text);
    padding: 10px;
    text-decoration: none;
    font-family: raleway-c;
    font-weight: 200;
    outline: none;
}
.main-menu li{
    list-style: none;
}
.main-menu a:hover{
    text-decoration: underline;
}

#nav-bar{
    width: 100%;
    z-index: 10;
    padding: 1.7rem 0;
    overflow:hidden;
    position: fixed;
}
.nav-bar__colored{
    background-image: url("../img/backgroundimage.jpg");
}

.container-top{
    display: flex;
    justify-content: space-between;
}

.footer{
    position: fixed;
    right: 0;
    bottom: 0;
}
.main-menu{
    display: flex;
    margin-top: 5px;
    font-size: 30px;
    margin-right: 700px;
}
h1,h3,h4,h5,h6{
    font-family: Neuropol-c;
}
.image > * {
    margin-top: 80px;
    width: calc(var(--index) * 19);
    height: calc(var(--index) * 25);
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 100px;
    border-radius: 7.5px;
}
.item > *{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.item{
    display: flex;
    padding: calc(var(--index)* 2) 0;
}
.item .text{
    margin-top:calc(var(--info-gap)*0.3);
    margin-right:calc(var(--info-gap)*0.4);
    color: var(--color-text);
}
.container-top{
    display: flex;
    justify-content: space-between;
}

.footer{
    position: fixed;
    right: 0;
    bottom: 0;
}

h2{
    font-size:86px;
}
.item p{
    font-size:43px;
}